.colores{
color:saddlebrown;
}

.colores-hexadecimal{
  color: #000f00;
}

.rgb{
  color: rgb(100, 5, 150);
}

.rgba{
  color: rgba(100, 5, 50, 0.25);
}

.fon{
  background-color: orange;
  background-image: url(#);
  background-position: left bottom ;
}

.ancho{
  width: 100px;
  background-color: blue;
}

.alto{
  background-color: aqua;
  height: 200px;
}

.encavezado{
  border-style: solid;
  border-color: rgb(148, 85, 3);
  border-width: 1px;
  border-top: none;
  padding: 10px 20px ;
  margin: 10px;
}