*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 80px;
  background-color: #212127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo{
  font-size: 28px;
  font-weight:bold ;
  height: 100%;
}

.bars{
  display: none;
}

.nav-bar ul{
  display: flex;
}

.nav-bar ul li a{
  display: block;
  color: #fff;
  font-size: 10px 25px;
  padding: 10px 25px;
  border-radius: 15px;
  transition: 0.2s;
  margin: 0px 5px;
}

.nav-bar ul li a:hover{
  color: #212127;
  background-color: #ffe00e;
}

.nav-bar ul li a.active{
  color: #212127;
  background-color: #ffe00e;
}

@media (max-width:900px) {
  header{
    padding: 0px 30px;
  }

  .bars{
    display: block;
    cursor: pointer;
  }

  .bars .line{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0px;
  }

  .nav-bar{
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #2e2f34;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    overflow:hidden ;
  }

  .nav-bar.active{
    height: 450px;
  }

  .nav-bar ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a{
    margin-bottom: 20px;
  }
}