@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
		height: 100% ;
		width: 100%;
		background-repeat: no-repeat;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}
	

	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
		z-index: 1;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: 0 10px 0 10px;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		position: relative;
        left: 1000px;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
		z-index: 3;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

	/*mian section vertical*/
	main{
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.section{
		height: 100%;
		position: fixed;
	}

	.vertical{
		width: 30px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: relative;
		z-index: -2;
	}

	.user{
		min-width: 45px;
		justify-content: space-around;
		position: absolute;
		top: 85px;
		left: 20%;
	}

	.user a{	
		text-decoration: none;
		font-size: 28px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background: #314652;
		color: #f1f1f1;
		border-radius: 50%;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
		transition: all .4s ease-in-out;
	}

	.user :hover{
		transform: scale(1.2);
	}

	.icon{
		min-width: 45px;
		justify-content: space-around;
		position: absolute;
		top: 300px;
		left: 20%;
	}

	.icon a {
		text-decoration: none;
		font-size: 28px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin: 3px;
		background: #314652;
		color: #f1f1f1;
		border-radius: 50%;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
		transition: all .4s ease-in-out;
	}

	.icon a:hover{
		transform: scale(1.2);
		color: #D4AF37;
	}

	/*main*/
	.centro{
		height: 100%;
		width: 100%;
		position: relative;
		z-index: -1;
	}
	.imagen{
		position: absolute;
		left: 43%;
		top: 0px;
		height: 450px;
	}
	.busqueda{
		position:absolute;
		left: 37%;
		top: 400px;
	}

	.busqueda input{
		width: 500px;
		height: 25px;
		border-radius: 30px;
	}
	/*footer*/
	footer{
		position: relative;
		margin: 30px;
		top: 2000px;  
	  }
	  .buttons {
		min-width: 400px;
		display: flex;
		justify-content: space-around;
	  }
	  
	  .buttons a {
		text-decoration: none;
		font-size: 28px;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background: #314652;
		color: #f1f1f1;
		border-radius: 50%;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
		transition: all .4s ease-in-out;
	  }
	  
	  .buttons a:hover {
		transform: scale(1.2);
	  }

